.about {
  min-height: 100vh;
  padding-top: 50px;
  h2 {
    text-align: center;
    opacity: 0;
    font-family: 'Fredoka One', cursive;
    margin: 25px 0 35px 0;
    color: #444444;
  }
  hr{
    width: 4%;
    opacity: 0;
    border: 2px solid #444444;
  }
}

/* text slide animation*/
.slide-fade {
  h2 {
    opacity: 0;
    animation: dynamicSlide 1s 0.5s forwards;
  }
  hr {
    opacity: 0;
    animation: dynamicSlide 2s 0.5s forwards;
  }
}


@keyframes dynamicSlide {
  from {opacity: 0;
        transform: translateX(-300px)}
  to {opacity: 1;
        transform: translateX(0)}
}


.about-navigation {
  height: 50px;
  width: 100%;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid lightseagreen;
}
.about-navigation_list {
  width: 60%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  li{
    font-size: 20px;
    color: white;
    &:hover{
      color:lightseagreen;
      cursor: pointer;
    }
  }
}

.about-navigation_list {
  .active {
    animation: slowChange 0.5s 0s forwards;
    text-decoration: underline;
  }
}
@keyframes slowChange {
  0%{color:white;
  transform: rotate(180deg) scale(0)}
  50% {color: lightseagreen;
    transform: rotate(0deg) scale(1.5)}
  100% {color: lightseagreen;
  transform: scale(1)}
}
.about-me_container {
  display: flex;
  margin-top: 80px;
}
.about-me_me {
  height: 400px;
  opacity: 0;
  width: 30%;
  min-width: 400px;
  text-align: center;
  h3 {
    color: lightseagreen;
  }
}
.about-photo {
  height: 350px;
  min-width: 400px;
  background-image: url("../images/me.png");
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skills-navigation {
  width: 70%;
  min-width: 600px;
  min-height: 400px;
  display: flex;
}
.skills-box{
  width: 25%;
  min-width: 200px;
  opacity: 0;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .flex-bottom{
    margin-top: 5px;
  }
}

.first-skill {
  opacity: 0;
  animation: turning 1s 0.5s forwards;
  .skill-description {
    animation: dynamicSlide 1s 0.2s forwards;
  }
}
.second-skill{
  opacity: 0;
  animation: turning 1s 1s forwards;
  .skill-description {
    animation: dynamicSlide 1s 0.4s forwards;
    margin-bottom: 10px;
  }
}
.third-skill{
  opacity: 0;
  animation: turning 1s 1.5s forwards;
  .skill-description {
    animation: dynamicSlide 1s 0.6s forwards;
  }
}
.fourth-skill{
  opacity: 0;
  animation: turning 1s 2s forwards;
  .skill-description {
    animation: dynamicSlide 1s 0.8s forwards;
    margin-bottom: 10px;
  }
}
.skills-description {
  width: 100%;
}

@keyframes turning {
  from {opacity: 0;
    transform: rotateY(90deg)}
  to {transform: rotateY(0);
        opacity: 1}
}

.skill-description{
   margin-top: 20px;
   text-align: center;
}
.skills-element {
  width: 85px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightseagreen;
  position: relative;
  &:before{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: inherit;
    height: 100%;
    background: lightseagreen;
    transform: rotate(60deg);
  }
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: inherit;
    height: 100%;
    background: lightseagreen;
    transform: rotate(-60deg);
  }
  i{
    font-size: 60px;
    position: absolute;
    z-index: 2;
  }
}
@media (max-width: 1230px) {
  .about-me_container {
    flex-direction: column;
    align-items: center;
  }
  .skills-navigation {
    width: 100%;
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 820px) {
    .skills-box {
      width: 50%;
    }
}
@media (max-width: 600px) {
  .skills-box {
    width: 100%;
  }
  .skills-navigation {
    min-width: 300px;
    width: 80%;
  }
}

@media (max-width: 700px) {
  .about-navigation_list {
    width: 95%;
  }

}