.projects-section {
  padding-top: 50px;
  min-height: 100vh;
  padding-bottom: 20vh;
  background-color: #f2f2f2;
  .section-template {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
      h2 {
        height: 25px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        text-align: center;
        margin: 25px 0 35px 0;
        font-weight: bold;
        color: #444444;
      }
      hr{
        width: 45%;
        border: 2px solid #444444;
    }

  }

}
.project-technologies {
  button {
    transition: 1s;
    margin: 0 5px 0 5px;
  }
  .active {
    background-color: lightseagreen;
    border: 1px solid lightseagreen;
  }
}

.projects-box {
  margin-top: 25px;
  width: 95%;
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects-box_all0 {
  animation: rotate 1s 0.25s forwards linear;
  margin-bottom: 10px;
  width: 32%;
  height: 255px;
  opacity: 0;
}
.projects-box_all1 {
  animation: rotate 1s 0.5s forwards linear;
  margin-bottom: 10px;
  width: 32%;
  height: 255px;
  opacity: 0;
}
.projects-box_all2 {
  animation: rotate 1s 0.75s forwards linear;
  margin-bottom: 10px;
  width: 32%;
  height: 255px;
  opacity: 0;
}
.projects-box_all3 {
  animation: rotate 1s 1s forwards linear;
  margin-bottom: 10px;
  width: 32%;
  height: 255px;
  opacity: 0;
}
.projects-box_all4 {
  animation: rotate 1s 1.25s forwards linear;
  margin-bottom: 10px;
  width: 32%;
  height: 255px;
  opacity: 0;
}
.projects-box_all5 {
  animation: rotate 1s 1.5s forwards linear;
  margin-bottom: 10px;
  width: 32%;
  height: 255px;
  opacity: 0;
}
.projects-box_all6 {
  animation: rotate 1s 1.75s forwards linear;
  margin-bottom: 10px;
  width: 32%;
  height: 255px;
  opacity: 0;
}

@keyframes rotate {
  0% {opacity: 0;
    transform: rotateY(90deg)}
  100% {transform: rotateY(0);
    opacity: 1}
}

.projects-box_react0 {
  width: 32%;
  animation: slideNorth 0.3s 0.3s forwards;
  opacity: 0;
  height: 255px;

}
.projects-box_react1 {
  width: 32%;
  animation: slideNorth 0.3s 0.6s forwards;
  opacity: 0;
  height: 255px;
}
.projects-box_react2 {
  width: 32%;
  animation: slideNorth 0.3s 0.9s forwards;
  opacity: 0;
  height: 255px;
}

@keyframes slideNorth {
  0% {transform: translateY(300px);
      opacity: 0}
  100% {transform: translateY(0);
      opacity: 1}

}


.projects-box_node0 {
  width: 45%;
  opacity: 0;
  height: 300px;
  animation: slideLeft 0.3s 0.5s forwards;
}
.projects-box_node1 {
  width: 45%;
  opacity: 0;
  height: 500px;
  animation: slideRight 0.3s 0.5s forwards;
}

@keyframes slideRight {
  0% {transform: translateX(200px);
      opacity: 0}
  100% {transform: translateX(0);
  opacity: 1}
}
@keyframes slideLeft {
  0% {transform: translateX(-200px);
    opacity: 0}
  100% {transform: translateX(0);
  opacity: 1}
}

@mixin image {
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
}
.react1 {
  background-image: url("../images/reactFilms.png");
  @include image
}
.react2 {
  background-image: url("../images/reactWeather.png");
  @include image
}
.reactNode {
  background-image: url("../images/smartbrain.png");
  @include image
}
.node {
  background-image: url("../images/bestCat.png");
  @include image
}
.javaScript {
  background-image: url("../images/furyGame.png");
  @include image
}
.sitOnChair {
  background-image: url("../images/htmlcssjs.png");
  @include image
}
.project-description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 3s;
  opacity: 0;
  background-color: #f2f2f2;
  animation: background 0.4s 0.1s forwards linear;
  h4 {
    font-weight: bold;
  }
  p {
    color: lightseagreen;
  }
  button {
    margin-top: 50px;
  }
}

@keyframes background {
  0% {transform: translate(-300px,-300px);
  opacity: 0}
  100% {transform: translate(0,0);
  opacity: 1}
}


@media (max-width: 1400px) {
  .projects-box_all0 {
    width: 45%;
  }
  .projects-box_all1 {
    width: 45%;
  }
  .projects-box_all2 {
    width: 45%;
  }
  .projects-box_all3 {
    width: 45%;
  }
  .projects-box_all4 {
    width: 45%;
  }
  .projects-box_all5 {
    width: 45%;
  }
  .projects-box_all6 {
    width: 45%;
  }
  .projects-box_node0 {
    width: 60%;
    margin-bottom: 10px;
  }
  .projects-box_node1 {
    width: 60%;
    margin-bottom: 10px;
  }
}
@media (max-width: 1175px){
  .projects-box_react0 {
    width: 80%;
    height: 300px;
    margin-bottom: 20px;
  }
  .projects-box_react1 {
    width: 80%;
    height: 300px;
    margin-bottom: 20px;
  }
  .projects-box_react2 {
    width: 80%;
    height: 300px;
    margin-bottom: 20px;
  }
  .projects-box_node0 {
    height: 200px;
  }
  .projects-box_node1 {
    height: 200px;
  }
}
@media (max-width: 920px){
  .projects-box_all0 {
    width: 80%;
  }
  .projects-box_all1 {
    width: 80%;
  }
  .projects-box_all2 {
    width: 80%;
  }
  .projects-box_all3 {
    width: 80%;
  }
  .projects-box_all4 {
    width: 80%;
  }
  .projects-box_all5 {
    width: 80%;
  }
  .projects-box_all6 {
    width: 80%;
  }
  .projects-box_react0 {
    width: 100%;
  }
  .projects-box_react1 {
    width: 100%;
  }
  .projects-box_react2 {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .projects-box_all0 {
    width: 100%;
    height: 150px;
  }
  .projects-box_all1 {
    width: 100%;
    height: 150px;
  }
  .projects-box_all2 {
    width: 100%;
    height: 150px;
  }
  .projects-box_all3 {
    width: 100%;
    height: 150px;
  }
  .projects-box_all4 {
    width: 100%;
    height: 150px;
  }
  .projects-box_all5 {
    width: 100%;
    height: 150px;
  }
  .projects-box_all6 {
    width: 100%;
    height: 150px;
  }
  .projects-box_react0 {
    height: 150px;
    width: 80%;
  }
  .projects-box_react1 {
    height: 150px;
    width: 80%;
  }
  .projects-box_react2 {
    height: 150px;
    width: 80%;
  }
  .projects-box_node0 {
    height: 220px;
    width: 100%;
  }
  .projects-box_node1 {
    height: 220px;
    width: 100%;
  }
}
